<div class="goal">
    <h3>Name: <%= goal.user.username %></h3>
    <p>Goal: <%= goal.title %></p>
    <p>Accomplished: <%= goal.accomplished %></p>
    <% if owns_resource?(goal) %>
    <%= link_to "Edit My Goal", edit_goal_path(goal) %>
    <%= button_to "Delete", goal, :method => :delete%>
    <% end %>
</div>