<!DOCTYPE html>
<html>
  <head>
    <title>GreatnessProgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  </head>

  <body>
    <header>
      <% flash.each do |k,v| %>
        <div class=<%=k%>><%= v %></div>
      <% end %>
      <%= navbar %>
    </header>

    <% if logged_in? %>
    <p class="search">
      <a href="/users">WHO'S IN THE PROGRAM?</a><br><br>
      <a href="/goals">SEE WHAT MY FRIENDS ARE UP TO</a><br><br>
      <a href="/coaches">MEET OUR COACHES</a><br><br>
      <a href="/users/<%=current_user.id%>/goals">CHECK MY GOALS</a><br><br>
      <a href="/goals/new">SET UP YOUR GOAL BEFORE IT'S TOO LATE!</a><br><br>
      <a href="/appointments/new">BOOK A NEW APPOINTMENT!</a>
    </p>
    <% end %>

    <%= yield %>
  </body>
</html>
